.blogHeader {
    height: 80vh;
    background-image: url(../project-1-textilee/textilee-assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    margin-top: 75px;
    color: $darkSlateBlue;
    font-size: 3.4rem;
    line-height: 3.2rem;
    font-weight: normal;
}


.blog {
    background-color: $lightSkyBlue;
    display: flex; 
}

.blogPost {
    background-color: rgb(40, 63, 77);
    // width: 70%;
    box-shadow: 20px 20px 0 $turquoiseBlue;
    // padding: 0 0 5px 200px;
    position: relative;
    left: 0vw;

    img {
        box-shadow: 40px 30px 0 $turquoiseBlue;
        position: relative;
        top: -30px;
        left: -20px;
    }

    h5 {
        color: white;
        font-size: 2rem;
        line-height: 2.9rem;
        letter-spacing: 0.125rem;
        font-weight: normal;
        margin-top: 50px;
    }

    p {
        color: white;
    }

    p:first-of-type {
        color: $lightSkyBlue;
    }
}

.blogSidebar {
    background-color: rgb(40, 63, 77);
    margin-left: 100px;
    padding: 35px;
    flex-shrink: 0;
    width: 30%;
    height: fit-content;


    h6 {
        font-size: 1.75rem;
        color: white;
        letter-spacing: 0.145rem;
    }
    p {
        color: white;
    }
    ul {
        color: white;
        list-style-type: disc;
        font-family: $secondaryFont;
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 0.1rem;
        margin: 1.25rem 0;
    }
}

.comments {
    padding: 0;
    background-color: $lightSkyBlue;
    div {
        width: 70%;
    }
    h4 {
        color: $blackTwo;
        font-size: 2rem;
        letter-spacing: 0.215rem;
    }

    .commentFlex {
        display: flex;
        margin: 30px 0 50px 0;
        img {
            height: 110px;
            width: auto;
            flex-shrink: 0;
            margin: 25px 20px 0 0;
        }

        p:first-of-type {
            color: $darkSlateBlue;
        }
    }
}

.blogForm {
    color: $darkSlateBlue;

    input[type="text"],
    input[type="email"] {
        background-color: $lightSkyBlue;
        border-bottom: 3px solid $turquoiseBlue;
    }

    textarea {
        background-color: $lightSkyBlue;
        border: 3px solid $turquoiseBlue;
    }

    button {
        color: white;
        background-color: $darkSlateBlue;
    }
}

@media (max-width: 940px) {
    .blog {
        flex-direction: column;
    }
}