.blogHeader {
    height: 80vh;
    background-image: url(../project-1-textilee/textilee-assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    margin-top: 75px;
    color: $darkSlateBlue;
    font-size: 3.4rem;
    line-height: 3.2rem;
    font-weight: normal;
}

.blogMain {
    background-color: $lightSkyBlue;
}

.blogPosts {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

.blogWrapper {
    max-width: 1280px;
    width: 50%;
    margin: 0 auto;
}

.post1 {
    background-color: rgb(40, 63, 77);
    width: 60%;
    box-shadow: 20px 30px 0 $turquoiseBlue;

    img {
        box-shadow: 40px 30px 0 $turquoiseBlue;
        position: relative;
        top: -110px;
        left: -20px;
    }

    h5 {
        color: white;
        font-size: 2rem;
        line-height: 2.9rem;
        letter-spacing: 0.125rem;
        font-weight: normal;
    }

    p {
        color: white;
    }

    p:first-of-type {
        color: $lightSkyBlue;
    }
}

.post2 {
    background-color: rgb(40, 63, 77);
    justify-self: flex-end;
    margin-top: 100px;
    padding: 35px;
    width: 30%;
    height: fit-content;

    img {
        position: relative;
        top: -65px;
        right: -35px;
    }

    h6 {
        font-size: 1.75rem;
        color: white;
        letter-spacing: 0.145rem;
    }

    p {
        color: white;
    }

    ul {
        color: white;
        list-style-type: disc;
        font-family: $secondaryFont;
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 0.1rem;
        margin: 1.25rem 0;
    }
}

.comments {
    padding: 0;
    background-color: $lightSkyBlue;

    div {
        width: 75%;
    }

    h4 {
        color: $blackTwo;
        font-size: 2rem;
        letter-spacing: 0.215rem;
    }

    .commentFlex {
        display: flex;
        margin-top: 50px;

        img {
            height: 110px;
            width: auto;
            flex-shrink: 0;
            margin: 25px 20px 0 0;
        }

        p:first-of-type {
            color: $darkSlateBlue;
        }
    }
}

.blogForm {
    color: $darkSlateBlue;
    background-color: $lightSkyBlue;

    input[type="text"],
    input[type="email"] {
        background-color: $lightSkyBlue;
        border-bottom: 3px solid $turquoiseBlue;
    }

    textarea {
        background-color: $lightSkyBlue;
        border: 3px solid $turquoiseBlue;
    }

    button {
        color: white;
        background-color: $darkSlateBlue;

        &:hover,
        &:focus {
            color: $darkSlateBlue;
            background-color: white;
        }
    }
}

@media (max-width: 940px) {
    .blogPosts {
        flex-direction: column;
    }

    .blogWrapper {
        width: 100%;
    }

    .mobileWrapper {
        max-width: 920px;
        width: 70%;
        margin: 0 auto;
    }

    .blogPosts {
        padding-top: 35px;
    }

    .post1,
    .post2 {
        width: 100%;
        box-shadow: 10px 15px 0 $turquoiseBlue;

        img {
            position: static;
            box-shadow: none;
            width: 70%;
            margin: 0 auto;
        }
    }

    .post1 {
        padding: 35px;

        h5 {
            margin-top: 30px;
        }
    }

    .post2 {
        h6 {
            margin-top: 30px;
        }
    }

    .comments {
        div {
            width: 70%;
        }
    }
}
