.blogHeader {
    height: 80vh;
    background-image: url(../project-1-textilee/textilee-assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    margin-top: 75px;
    color: $darkSlateBlue;
    font-size: 3.4rem;
    line-height: 3.2rem;
    font-weight: normal;
}

main {
    background-color: $lightSkyBlue;
    // position: relative;
}

.blogPost {
    background-color: rgb(40, 63, 77);
    // width: 40%;

    h5 {
        color: white;
        font-size: 2rem;
        line-height: 2.9rem;
        letter-spacing: 0.125rem;
        font-weight: normal;
    }

    p {
        color: white;
    }

    p:first-of-type {
        color: $lightSkyBlue;
    }
}

.blogSidebar {
    // position: absolute;
    // top: -100px;
    // right: 0px;
    background-color: rgb(40, 63, 77);
    margin-left: 400px;
    h6 {
        font-size: 1.75rem;
        color: white;
        letter-spacing: 0.145rem;
    }
    p {
        color: white;
    }
    ul {
        color: white;
        list-style-type: disc;
        font-family: $secondaryFont;
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 0.1rem;
        margin: 1.25rem 0;
    }
}

.comments {
    h4 {
        color: $blackTwo;
        font-size: 2rem;
        letter-spacing: 0.215rem;
    }

    .commentFlex {
        display: flex;
        margin: 30px 0 50px 0;

        img {
            width: 30%;
            flex-shrink: 0;
            margin-right: 20px;
        }

        p:first-child {
            color: rgb (197, 212, 244);
        }
    }
}

.blogForm {
    color: $darkSlateBlue;

    input[type="text"],
    input[type="email"] {
        background-color: $lightSkyBlue;
        border-bottom: 3px solid $turquoiseBlue;
    }

    textarea {
        background-color: $lightSkyBlue;
        border: 3px solid $turquoiseBlue;
    }

    button {
        color: white;
        background-color: $darkSlateBlue;
    }
}
