.contactHeader {
    height: 80vh;
    background-image: url(../project-1-textilee/textilee-assets/contact-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contactMain {
    background-color: $lightSkyBlue;
}

.contactFlex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.contactForm {
    color: white;
    background-color: rgb(40, 63, 77);
    margin-right: 50px;
    box-shadow: 20px 20px 0 $turquoiseBlue;
    padding: 50px;
    position: relative;
    top: -250px;
    left: -85px;

    input[type="text"],
    input[type="email"] {
        background-color: rgb(40, 63, 77);
        border-bottom: 3px solid $turquoiseBlue;
    }

    textarea {
        background-color: rgb(40, 63, 77);
        border: 3px solid $turquoiseBlue;
    }

    button {
        color: $blackTwo;
        background-color: rgb(197, 212, 244);
    }
}

.contactSidebar {
    ul {
        display: flex;

        a {
            color: $darkSlateBlue;
            margin-right: 25px;

            &:visited,
            &:hover,
            &:focus,
            &:active {
                color: $darkSlateBlue;
            }
        }
    }
}


@media (max-width: 940px) {
    .contactFlex {
        flex-direction: column;
    }

    .contactForm {
        position: static;
    }

    .contactSidebar {
        margin-top: 100px;
        text-align: center;

        ul {
            justify-content: center;
        }
    }
}