form {
    font-family: $secondaryFont;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input[type="text"],
    input[type="email"] {
        width: calc(50% - 20px);
        border: none;
        padding: 30px;
        outline: none;
    }

    textarea {
        width: 100%;
        margin-top: 30px;
        padding: 30px;
        resize: none;
        outline: none;
    }

    button {
        margin: 20px auto;
        width: 100%;
        font-family: $baseFont;
        font-weight: normal;
        font-size: 1.35rem;
        text-align: center;
        line-height: 1.2rem;
        letter-spacing: 1.7px;
        border: none;
        padding: 20px 0;
    }
}
