.navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    a {
        font-family: $baseFont;
        color: black;
        font-size: 1.5rem;
        line-height: 1.2rem;
        letter-spacing: 1.7px;
        &:visited,
        &:hover,
        &:focus,
        &:active {
            color: black;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 50%;

        a {
            font-family: $secondaryFont;
            color: $darkSlateBlue;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
            line-height: 29px;
            &:visited,
            &:hover,
            &:focus,
            &:active {
                color: $darkSlateBlue;
            }
        }
    }
}

.currentPage {
    border-bottom: solid 3px $turquoiseBlue;
}

.fa-bars {
    display: none;
}

@media (max-width: 940px) {
    .navBar ul {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 1.5rem;
    }
}
