$primary: #B3EB95;
$secondary: #CCC;
$baseFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
  background: $primary;
}

p.tagline {
  border: 1px solid $primary;
  color: $secondary;
  font-family: $baseFont;
}