html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Pacifico", cursive;
  line-height: 1.15;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  margin: 1.25rem 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0;
}

@media (max-width: 940px) {
  .wrapper {
    max-width: 920px;
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .wrapper {
    max-width: 580px;
    width: 70%;
    margin: 0 auto;
  }
}
.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.navBar a {
  font-family: "Pacifico", cursive;
  color: black;
  font-size: 1.5rem;
  line-height: 1.2rem;
  letter-spacing: 1.7px;
}
.navBar a:visited, .navBar a:active {
  color: black;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}
.navBar ul a {
  font-family: "Lato", sans-serif;
  color: #1c315c;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  line-height: 29px;
  padding: 10px 10px 5px 10px;
}
.navBar ul a:visited, .navBar ul a:hover, .navBar ul a:focus, .navBar ul a:active {
  color: #1c315c;
}
.navBar ul a:hover, .navBar ul a:focus {
  background-color: #0cadc0;
  border-bottom: solid 3px #0cadc0;
}
.navBar label,
.navBar input[type=checkbox] {
  display: none;
}

.currentPage {
  border-bottom: solid 3px #0cadc0;
}

@media (max-width: 940px) {
  .navBar ul {
    background: #ccedfb;
    position: absolute;
    z-index: 100;
    width: 33%;
    top: 0;
    left: -33%;
    border-right: 5px solid #1c315c;
    border-bottom: 5px solid #1c315c;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .navBar ul a {
    display: block;
    font-size: 1.5rem;
    padding: 25px 25px;
    border: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navBar ul a:hover, .navBar ul a:focus {
    background: #0cadc0;
    border: none;
  }

  input[type=checkbox]:checked + ul {
    left: 0;
  }

  .navBar label {
    display: block;
    color: #161515;
    z-index: 10;
  }
}
form {
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form input[type=text],
form input[type=email] {
  width: calc(50% - 20px);
  border: none;
  padding: 30px;
  outline: none;
}
form textarea {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  resize: none;
  outline: none;
}
form button {
  margin: 20px auto;
  width: 100%;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  font-size: 1.35rem;
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 1.7px;
  border: none;
  padding: 20px 0;
}

@media (max-width: 940px) {
  form input[type=text],
form input[type=email] {
    width: 100%;
  }

  textarea {
    height: 200px;
  }
}
.homeHeader {
  height: 90vh;
  background-image: url(../project-1-textilee/textilee-assets/header-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.homeHeader h1 {
  margin-top: 75px;
  color: #1c315c;
  font-size: 2.9rem;
  line-height: 3.4rem;
  font-weight: normal;
}
.homeHeader img {
  margin-top: 50px;
  width: 900px;
}

.aboutSection {
  padding-top: 200px;
  background-color: #ccedfb;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutText {
  margin-right: 50px;
}

h3 {
  color: #1c315c;
  font-size: 2.15rem;
  line-height: 2.9rem;
  letter-spacing: 2.5px;
}

.aboutImgContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 335px;
  height: 335px;
  -webkit-box-shadow: -20px 20px 1px #0cadc0;
          box-shadow: -20px 20px 1px #0cadc0;
}

.findOutMore {
  color: white;
  background-color: #1c315c;
  font-weight: normal;
  font-size: 1.35rem;
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 1.7px;
  border: 1px solid #1c315c;
  padding: 20px 35px;
}
.findOutMore:hover, .findOutMore:focus {
  color: #1c315c;
  background-color: white;
  border: 1px solid white;
}

.gallery {
  background-color: #283f4d;
}
.gallery img {
  width: 30%;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  background-color: #ccedfb;
}

.infoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.infoFlex div {
  width: 40%;
  position: relative;
}
.infoFlex .fas {
  position: absolute;
  font-size: 1.5rem;
  left: -65px;
  color: white;
  background-color: #0cadc0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  padding-left: 2px;
}

.discover {
  background-color: #1c315c;
  color: white;
}
.discover h5 {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.125rem;
  font-weight: normal;
}
.discover button {
  color: #161515;
  background-color: #c5d4f4;
  font-weight: normal;
  font-size: 1.35rem;
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 1.7px;
  border: 1px solid #c5d4f4;
  padding: 15px 30px 17px 30px;
}
.discover button:hover, .discover button:focus {
  color: #c5d4f4;
  background-color: #161515;
  border: 1px solid #161515;
}

.discoverFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discoverText1,
.discoverText2 {
  width: 40%;
}

.discoverText2 {
  text-align: right;
}

.discoverImgContainer1 {
  -webkit-box-shadow: 20px 20px 0 #0cadc0;
          box-shadow: 20px 20px 0 #0cadc0;
  position: relative;
  top: -170px;
  left: -180px;
}

.discoverImgContainer2 {
  -webkit-box-shadow: -20px 20px 0 #0cadc0;
          box-shadow: -20px 20px 0 #0cadc0;
  position: relative;
  bottom: -170px;
  right: -180px;
}

.banner {
  background-image: url(../project-1-textilee/textilee-assets/banner.jpg);
  height: 50vh;
}

.search {
  margin: 0 auto;
  text-align: center;
  background-color: #ccedfb;
}

footer {
  background-color: black;
  padding: 10px 0;
}
footer p {
  margin: 0;
  text-align: center;
  color: white;
}

@media (max-width: 940px) {
  h1 {
    width: 55%;
    color: black;
  }

  .mobileHidden {
    display: none;
  }

  .aboutSection {
    padding-top: 100px;
  }

  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutText {
    margin-top: 50px;
  }

  .aboutImgContainer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: auto;
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .gallery img {
    width: 45%;
  }

  .infoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoFlex div {
    width: 100%;
    margin-top: 50px;
  }

  .discover div {
    margin-top: 50px;
  }

  .discoverFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discoverFlex div {
    width: 100%;
    text-align: center;
    position: static;
  }

  .discoverText2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .discoverImgContainer1 {
    margin-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .discoverImgContainer2 {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.blogHeader {
  height: 80vh;
  background-image: url(../project-1-textilee/textilee-assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  margin-top: 75px;
  color: #1c315c;
  font-size: 3.4rem;
  line-height: 3.2rem;
  font-weight: normal;
}

.blogMain {
  background-color: #ccedfb;
}

.blogPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
}

.blogWrapper {
  max-width: 1280px;
  width: 50%;
  margin: 0 auto;
}

.post1 {
  background-color: #283f4d;
  width: 60%;
  -webkit-box-shadow: 20px 30px 0 #0cadc0;
          box-shadow: 20px 30px 0 #0cadc0;
}
.post1 img {
  -webkit-box-shadow: 40px 30px 0 #0cadc0;
          box-shadow: 40px 30px 0 #0cadc0;
  position: relative;
  top: -110px;
  left: -20px;
}
.post1 h5 {
  color: white;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.125rem;
  font-weight: normal;
}
.post1 p {
  color: white;
}
.post1 p:first-of-type {
  color: #ccedfb;
}

.post2 {
  background-color: #283f4d;
  justify-self: flex-end;
  margin-top: 100px;
  padding: 35px;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.post2 img {
  position: relative;
  top: -65px;
  right: -35px;
}
.post2 h6 {
  font-size: 1.75rem;
  color: white;
  letter-spacing: 0.145rem;
}
.post2 p {
  color: white;
}
.post2 ul {
  color: white;
  list-style-type: disc;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  margin: 1.25rem 0;
}

.comments {
  padding: 0;
  background-color: #ccedfb;
}
.comments div {
  width: 75%;
}
.comments h4 {
  color: #161515;
  font-size: 2rem;
  letter-spacing: 0.215rem;
}
.comments .commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.comments .commentFlex img {
  height: 110px;
  width: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 25px 20px 0 0;
}
.comments .commentFlex p:first-of-type {
  color: #1c315c;
}

.blogForm {
  color: #1c315c;
  background-color: #ccedfb;
}
.blogForm input[type=text],
.blogForm input[type=email] {
  background-color: #ccedfb;
  border-bottom: 3px solid #0cadc0;
}
.blogForm textarea {
  background-color: #ccedfb;
  border: 3px solid #0cadc0;
}
.blogForm button {
  color: white;
  background-color: #1c315c;
}
.blogForm button:hover, .blogForm button:focus {
  color: #1c315c;
  background-color: white;
}

@media (max-width: 940px) {
  .blogPosts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blogWrapper {
    width: 100%;
  }

  .mobileWrapper {
    max-width: 920px;
    width: 70%;
    margin: 0 auto;
  }

  .blogPosts {
    padding-top: 35px;
  }

  .post1,
.post2 {
    width: 100%;
    -webkit-box-shadow: 10px 15px 0 #0cadc0;
            box-shadow: 10px 15px 0 #0cadc0;
  }
  .post1 img,
.post2 img {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 70%;
    margin: 0 auto;
  }

  .post1 {
    padding: 35px;
  }
  .post1 h5 {
    margin-top: 30px;
  }

  .post2 h6 {
    margin-top: 30px;
  }

  .comments div {
    width: 70%;
  }
}
.contactHeader {
  height: 80vh;
  background-image: url(../project-1-textilee/textilee-assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contactMain {
  background-color: #ccedfb;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

.contactForm {
  color: white;
  background-color: #283f4d;
  margin-right: 50px;
  -webkit-box-shadow: 20px 20px 0 #0cadc0;
          box-shadow: 20px 20px 0 #0cadc0;
  padding: 50px;
  position: relative;
  top: -250px;
  left: -85px;
}
.contactForm input[type=text],
.contactForm input[type=email] {
  background-color: #283f4d;
  border-bottom: 3px solid #0cadc0;
}
.contactForm textarea {
  background-color: #283f4d;
  border: 3px solid #0cadc0;
}
.contactForm button {
  color: #283f4d;
  background-color: #c5d4f4;
}
.contactForm button:hover, .contactForm button:focus {
  color: #c5d4f4;
  background-color: #283f4d;
}

.contactSidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSidebar ul a {
  color: #1c315c;
  margin-right: 25px;
}
.contactSidebar ul a:visited, .contactSidebar ul a:active {
  color: #1c315c;
}

@media (max-width: 940px) {
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactForm {
    position: static;
  }

  .contactSidebar {
    margin-top: 100px;
    text-align: center;
  }
  .contactSidebar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}